<h1>New Argument</h1>
<form>
  <div class="form-group">
    <label for="argument-title">Title</label>
    <input type="text" class="form-control" id="argument-title" placeholder="Argument title">
  </div>
  <div class="form-group">
    <label for="argument-tag">Tag</label>
    <input type="text" class="form-control" id="argument-tag" placeholder="Argument tag">
  </div>
  <div class="form-group">
    <label for="argument-description">Description</label>
    <textarea class="form-control" id="argument-description" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Inserisci</button>
</form>
