<div class="row p-5">
  <h4 class="p-2"><span class="badge badge-info">Info</span></h4>
  <h4 class="p-2"><span class="badge badge-info">Info</span></h4>
  <h4 class="p-2"><span class="badge badge-info">Info</span></h4>
</div>
<div class="row p-5">
  <div><h1>TITLE</h1></div>
</div>
<div class="row p-5">
  <p>In the design community, UXers and digital product designers have made huge strides in the past five years. Companies are actually starting to build entire teams and business units around user experience design.
    This is a far cry from than the lone designer from years past who mostly worked on marketing collateral, but would sometimes also try to help out the hundreds of developers and dozen or so product managers with a new feature. With a more mature community comes better processes, better prepared employees, and a larger talent pool.
    As these organizations have understood the value that design brings to the table, there has been more pressure put on the process, as well as higher pressure put on the designers. Luckily, we have an ace in the hole: user testing. Instead of bickering endlessly about opinions and anecdotal evidence of what one user said at a conference years ago, we’re turning to data for answers, and we’re turning to users for answers.</p>
</div>
